.interface {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 1rem;
    z-index:99;
}

.titleScreenWrapper {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    font-family: 'Mountains of Christmas', cursive;
    color:white;
    backdrop-filter:blur(6px);
    background-color:black;
}

.titleScreen {
    display:block;
    margin: auto;
    width:600px;
    text-align: center;
    height: 720px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.titleScreen h1 {
    font-size:48px;
}

.titleScreen button {
    width:200px;
    /* background:none; */
    background-color:darkred;
    color:white;
    font-size:34px;
    font-family: 'Mountains of Christmas', cursive;
    border:1px solid firebrick;
}

.titleScreen button:hover, .menu button:hover {
    border:1px solid cornsilk;
    transform:translateY(4px);
    font-weight:700;
    cursor:pointer;
    box-shadow: rgba(200, 200, 111, 0.3) 0px 7px 29px 0px;
}

.healthpointsWrapper {
    position:absolute;
    top:32px;
    left:32px;
    display:flex;
    height:150px;
    gap:14px;
}

.healthpointsWrapper svg {
    height:100%;
    width:100%;
}

.cluesWrapper {
    position:absolute;
    top:46px;
    left:400px;
    display:flex;
    height:150px;
    gap:14px;
}

.cluesWrapper svg {
    height:80%;
    width:100%;
}

@keyframes opacity {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.wrapperImgGrid {
    width:600px;
    display:flex;
    flex-wrap:wrap;
    width:426px;
    margin:auto;
    background-color:white;
    gap:2px;
    margin-top:64px;
}

.wrapperImgGrid div {
    width:200px;
    height:200px;
    background-color:black;
    padding:6px;
}

.wrapperImgGrid div img {
    height:190px;
    margin-top:5px;
    width:auto;
    /* opacity:0; */
}

.wrapperImgGrid div img:hover {
    transform:scale(1.05);
    transition: transform 0.2s;
}

.delayOne {
    animation: opacity 2s ease-in 1;
}

input[type=range][orient=vertical] {
    appearance: slider-vertical;
    width: 8px;
    height: 75px;
    padding: 0 5px;
    margin:auto;
}

.audioWrapper {
    background-color:transparent;
    position:absolute;
    bottom:20px;
    right:20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap:14px;
}

.muteButton {
    background-color:transparent;
    color:white;
    box-shadow: revert;
    border:none;
}

.menuwrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(6px);
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu {
    position: absolute;
    width:600px;
    height: 700px;
    /* border:1px solid #760303; */
    /* background-color:rgb(7,7,7); */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    gap:32px;
    padding:32px 12px;
}

.menu button, .menu a {
    width: 200px;
    /* background: none; */
    background-color: darkred;
    color: white;
    font-size: 34px;
    font-family: 'Mountains of Christmas', cursive;
    border: 1px solid firebrick;
    text-align: center;
    text-decoration: none;
}

.brightness {
    color: white;
    font-size: 34px;
    font-family: 'Mountains of Christmas', cursive;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .menu input[type='range'] {
      overflow: hidden;
      width: 200px;
      -webkit-appearance: none;
      background-color: lightslategray;
      border:1px solid firebrick;
    }
    
    .menu input[type='range']::-webkit-slider-runnable-track {
      height: 14px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    .menu input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 14px;
      cursor: ew-resize;
      background: black;
      box-shadow: -100px 0 0 100px darkred;
    }
